<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBClearTabelViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>680D363E1DD322B0009E6A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680D36521DD322B0009E6A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680D365D1DD322B0009E6A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
