<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>08-RandomColorization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68435C8B1D93CEBC001B8FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68435C9F1D93CEBC001B8FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68435CAA1D93CEBC001B8FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
